html {
  height: 100%;
  font-family: 'Open Sans,Arial,Helvetica,sans-serif';
  font-size: 14px;

  body {
    height: 100%;
    position: relative;
    min-height: 600px;
    min-width: 1200px;
    padding: 0 !important;
  }

  input, button {
    outline: none;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

h1, h2, h3, h4 {
  margin: 0;
}

// reset the elementUI style
.el-submenu__title i {
  color: #fff;
}
